<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase /ea_inventory_tool/public/

    # Route all requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
